/desenvolvimento-sistemas-i/escola/Escola/nbproject/private/
/desenvolvimento-sistemas-i/escola/Escola/build/
/desenvolvimento-sistemas-i/escola/JogoDo15/nbproject/private/
/desenvolvimento-sistemas-i/escola/JogoDo15/build/
/desenvolvimento-sistemas-i/escola/timer/nbproject/private/
/desenvolvimento-sistemas-i/escola/timer/build/
/desenvolvimento-sistemas-i/escola/cronometro/nbproject/private/
/desenvolvimento-sistemas-i/escola/cronometro/build/
